.container {
    display: flex;
    max-width: 1480px;
    clear: both;
    line-height: 1;
    column-count: 2;
    column-gap: 10px;    
    row-gap: 10px;
    flex-wrap: wrap;
}

.container img {
    width: 100%;
}

@media only screen and (min-width: 800px) {
    .container img {
        width: 50%;
    }
    
}

@media only screen and (min-width: 900px) {
    .container img {
        width: 25%;
    }
    
}